@model SacramentPlanner.Models.Speaker

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Speaker</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="SpeakerId" />
        <div class="form-group">
            <label asp-for="SpeakerDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SpeakerDate" class="form-control" />
                <span asp-validation-for="SpeakerDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FkWardMember" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="FkWardMember" class="form-control" asp-items="ViewBag.FkWardMember"></select>
                <span asp-validation-for="FkWardMember" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FkTopic" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="FkTopic" class="form-control" asp-items="ViewBag.FkTopic"></select>
                <span asp-validation-for="FkTopic" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FkSpeakerType" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="FkSpeakerType" class="form-control" asp-items="ViewBag.FkSpeakerType"></select>
                <span asp-validation-for="FkSpeakerType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
